body{
    background-image: url('../images/img-3.jpg');
    font-family: 'Charmonman', cursive;
}
#index-container,#about-container,p{
    font-family: 'Charmonman', cursive;
    font-size:40px;
    color:white;
    height: 200px;
    /* position: absolute;
    bottom: 30px; */
}

#div-wins-text,#div-wins-val{
    font-family: 'Charmonman', cursive;
    font-size:30px;
    color:white;   
}

#div-entered-keys,#div-entered-keys-val{
    color:white;
    font-size:30px;
}

#div-wins-val{
    color:	rgb(221, 191, 23);
    font-size:30px;
}

#about-this-game, #Home{
    color:white;
    font-size:20px;   
}
#divider{
    height: 300px;
}

@media only screen and (max-width: 600px) {
    #divider{
        height: 100px;
    }
    #index-container,#about-container,p{
        font-size:20px;
        height: 100px;
    }
    #div-wins-val,#div-wins-text{  
        font-size:20px;
    }
    #div-entered-keys,#div-entered-keys-val{
        font-size:20px;
    }
}
